body {
  background-image: url("/WB_majasdarbi/2/flex/bildes/TILE.svg");
  background-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}



* {
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: auto;
  padding: 0 0 20px;
  margin: -8px auto;
  background-color: white;
}

header {
  width: 95%;
  background-color: green;
  color: white;
  padding: 5px;
  margin: 0 auto 10px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;

}

label {
  font-weight: 200;

}




.w200 {
  width: 200px;
  height: 20px;
}



.balts {
  color: white;
}

.center {
  text-align: center;
}

.atspiest {
  margin: 10px
}

.kaste {
  background-color: green;
  width: 95%;
  height: auto;
  margin: 5px auto 20px;
  padding: 10px 5px;
}


select {
  height: 20px;
}

button {
  margin: 10px;
  background-color: white;
  color: green;
  width: fit-content;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  padding: 0 20px;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 6px darkgreen;
}

button:hover {
  color: red;
  box-shadow: 1px 1px 6px red;
}

.index-link {
  color: green;
  margin: 10px auto;
  max-width: fit-content;
  padding: 0 10px;
  height: auto;
  text-align: center;
  background-color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


nav {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 5px;
}

nav div {
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: 10px;
  text-align: center;
  background-color: black;
  margin: 5px;

}

nav div:nth-last-child(1) {
  margin-right: 0px;
}

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;

  }

  nav div {
    width: 100%;
  }
}