body {
  background-image: url("/WB_majasdarbi/2/grid/bildes/TILE.svg");
  background-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}



* {
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: auto;
  padding: 0 0 20px;
  margin: -8px auto;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
  ;
}


nav {
  grid-area: nav;
}


footer {
  grid-area: footer;
}

header {
  grid-area: header;
  width: 95%;
  background-color: palevioletred;
  color: white;
  padding: 5px;
  margin: 0 auto 5px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 0;

}

label {
  font-weight: 200;
  display: inline-block;
  width: 95px;

}

.auto {
  width: auto;
}

.w200 {
  min-width: 200px;
  height: 20px;
}

.balts {
  color: white;
}

.center {
  text-align: center;
}

.atspiest {
  margin: 10px
}

.kaste {
  grid-area: main;
  background-color: palevioletred;
  width: 95%;
  height: auto;
  margin: 0px auto 10px;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: "50% 50%";
  grid-template-areas:
    "vr vr"
    "name surname"
    "taut kods"
    "adrese durvis"
    "rel dzim"
    "poga poga"
}

.kaste-b {
  grid-area: main;
  background-color: palevioletred;
  width: 95%;
  height: auto;
  margin: 0px auto 10px;
  padding: 10px 5px;

}

.vr {
  grid-area: vr;
}

.name {
  grid-area: name;
}

.surname {
  grid-area: surname;
}

.taut {
  grid-area: taut;
}

.kods {
  grid-area: kods;
}

.adrese {
  grid-area: adrese;
}

.durvis {
  grid-area: durvis;
}

.rel {
  grid-area: rel;
}

.dzim {
  grid-area: dzim;
}

.poga {
  grid-area: poga;
  justify-self: center;
  align-self: center;
}

select {
  height: 20px;
}

button {
  margin: 10px;
  background-color: white;
  color: palevioletred;
  width: fit-content;
  height: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  padding: 0 20px;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 6px darkpalevioletred;
}

button:hover {
  color: red;
  box-shadow: 1px 1px 6px red;
}

.index-link {
  color: palevioletred;
  margin: 10px auto;
  max-width: fit-content;
  padding: 0 10px;
  height: auto;
  text-align: center;
  background-color: white;
}




nav {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 5px;
}

nav div {
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: 10px;
  text-align: center;
  background-color: black;
  margin: 5px;

}

nav div:nth-last-child(1) {
  margin-right: 0px;
}

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;

  }

  nav div {
    width: 100%;
    margin: 5px 0;
  }


  .kaste {
    justify-content: center;
    grid-template-areas:
      "vr"
      "name"
      "surname"
      "taut"
      "kods"
      "adrese"
      "durvis"
      "rel"
      "dzim"
      "poga";
    justify-items: center;
  }

  .container {
    width: 80%;
  }
}