body {
  background-image: url("/WB_majasdarbi/2/float/bildes/TILE.svg");
  background-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}



* {
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: auto;
  padding: 0 0 20px;
  margin: -8px auto;
  background-color: white;
}

header {
  width: 95%;
  background-color: cadetblue;
  color: white;
  padding: 5px;
  margin: 0 auto 10px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;

}

label {
  font-weight: 200;
  display: inline-block;
  width: 95px;
  text-align: left;

}

.auto {
  width: auto;
}




.w200 {
  width: 150px;
  height: 20px;
}



.balts {
  color: white;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.atspiest {
  margin: 10px
}

.kaste {
  background-color: cadetblue;
  width: 95%;
  height: auto;
  margin: 5px auto 20px;
  padding: 10px 5px;
}


select {
  height: 20px;
}

button {
  margin: 10px auto;
  background-color: white;
  color: cadetblue;
  width: fit-content;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  padding: 0 20px;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 6px black;
}

button:hover {
  color: red;
  box-shadow: 1px 1px 6px red;
}

.index-link {
  color: cadetblue;
  margin: 10px auto;
  max-width: fit-content;
  padding: 0 10px;
  height: auto;
  text-align: center;
  background-color: white;
}

.float-left {
  float: left;
  width: 45%;
}

.float-right {
  float: right;
  width: 45%;
}


nav {
  width: 95%;
  margin: 20px auto 0;
}

nav ul li {
  width: 50px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-size: 10px;
  text-align: center;
  background-color: black;
  float: right;
  margin: 5px;
}

nav ul li:nth-last-child(5) {
  margin-right: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}