body {
  background-image: url("/WB_majasdarbi/4/bildes/TILE.svg");
  background-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: auto;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "objects"
    "footer"
  ;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: #FF0066;
  color: white;
  font-weight: 700;
  padding: 10px;
}

#objects {
  grid-area: objects;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.solution {
  display: flex;
  border: #FF0066 solid 1px;
  border-radius: 10px;
  justify-content: space-around;
  color: #FF0066;
  padding: 10px;
}




.margin0,
h2,
h1,
p {
  margin: 0;
}

.marg-vert-10 {
  margin: 10px 0;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #33FFFF;
  color: white;
  font-weight: 700;
  padding: 5px;
}