body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-image: url("/WB_majasdarbi/1/bildes/TILE.svg");
  background-size: 40px;
  align-content: center;
}

h1 {
  color: white;
  text-align: center;

}

label {
  font-weight: 200;

}


.w120 {
  width: 120px;
}

.w200 {
  width: 200px;
}

.w50 {
  width: 50px;
}

.balts {
  color: white;
}

.center {
  text-align: center;
}

.atspiest {
  margin: 10px
}

.kaste {
  background-color: blueviolet;
  width: 500px;
  height: auto;
  margin: 50px auto;
  padding: 10px 5px;
}

.input {
  width: auto;
}

button {
  margin: 10px;
  background-color: white;
  color: blueviolet;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
}